.currentMinValue,
.currentMaxValue {
  position: absolute;
  transform: translateX(-50%);
  top: 55px;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
}

:global(.DestinationSlider .rc-slider) {
  width: 300px;
}

:global(.DestinationSlider .rc-slider .rc-slider-track) {
  background-color: #ffa800;
  height: 6px;
  border: #c4c4c4 1px solid;
  height: 10px;
}

:global(.DestinationSlider .rc-slider .rc-slider-handle) {
  border: none;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

:global(.DestinationSlider .rc-slider .rc-slider-rail) {
  background-color: inherit;
  height: 10px;
  border: #c4c4c4 1px solid;
}

.values {
  position: relative;
  height: 20px;
  margin-top: -36px;
}

.minValue {
  position: absolute;
  top: 39px;
  left: -4px;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
}

.maxValue {
  position: absolute;
  top: 39px;
  left: 276px;
  font-weight: 400;
  font-size: 16px;
  color: #e5e5e5;
}

.textDeparture {
  font-weight: 400;
  font-size: 24px;
  color: #e5e5e5;
}

.textArrival {
  font-weight: 400;
  font-size: 24px;
  color: #e5e5e5;
}
