.feedbackCard {
  display: flex;
  gap: 35px;
  padding-right: 50px;
}

.user {
  font-weight: 500;
  font-size: 24px;

  color: #000000;
}

.text {
  font-size: 18px;
  color: #928f94;
  font-style: italic;
  margin-top: 30px;
  position: relative;
}

.text::after,
.text::before {
  font-size: 48px;
  color: #7a7a7a;
  line-height: 1px;
}

.text::before {
  content: '“';
  top: 20px;
  left: -30px;
  position: absolute;
}

.text::after {
  content: '”';
  bottom: -35px;
  position: relative;
}
