.home__feedback {
  margin: 152px 258px 0 258px;
  max-width: 1400px;
  min-height: 600px;
}

.home__feedback__container {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
  align-items: center;
}

.home__feedback__header {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  color: #292929;
}
