@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
}

main {
  display: flex;
}

input {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style-type: none; /* Убирает маркеры списка */
  margin: 0; /* Убирает отступы */
  padding: 0; /* Убирает отступы */
  display: flex;
}

li {
  list-style-type: none; /* Убирает маркеры списка */
  margin: 0; /* Убирает отступы */
  padding: 0; /* Убирает отступы */
}

select {
  appearance: none; /* Убирает стандартный вид */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  background: none; /* Убирает фон */
  border: none; /* Убирает границу */
  padding: 8px; /* Добавляет внутренний отступ */
  font-size: 16px; /* Устанавливает размер шрифта */
  cursor: pointer; /* Устанавливает курсор */
}

/* Убираем стрелочки в Chrome, Safari, Edge и Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
