.progressBar {
  display: flex;
  height: 98px;
}

.step {
  background-color: #3e3c41;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  position: relative;
  color: #3e3c41;
}

.step::before {
  content: '';
  position: absolute;
  right: -49px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 50px solid white;
  z-index: 1;
}

.step::after {
  content: '';
  position: absolute;
  right: -47px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 49px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 50px solid currentColor;
  z-index: 1;
}

.step1 {
  width: 30%;
}

.step2 {
  width: 20%;
}

.step3 {
  width: 20%;
}

.step4 {
  width: 30%;
}

.step:last-child::after {
  display: none;
}

.step:last-child::before {
  display: none;
}

.number {
  width: 50px;
  height: 50px;
  color: white;
  font-weight: 700;
  font-size: 36px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.text {
  color: white;
  font-weight: 700;
  font-size: 30px;
}

.active {
  background-color: #ffa800;
  color: #ffa800;
}
