.footer__contacts {
  display: flex;
  height: 430px;
  background-color: #2d2b2f;
  padding-top: 50px;
  gap: 360px;
  justify-content: center;
}

.footer__panel {
  background-color: #2d2b2f;
  border-top: #e5e5e5 1px solid;
  height: 100px;
}

.footer__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;

  margin-bottom: 30px;
}

.footer__contacts__feedback__container {
  display: flex;
  gap: 36px;
}

.footer__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #e5e5e5;
  margin-top: 5px;
}

.footer__form {
  display: flex;
  gap: 35px;
  margin-bottom: 45px;
}

.footer__input {
  width: 450px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 24px;

  padding-left: 21px;
}

.footer__btn {
  width: 169px;
  height: 60px;

  border: 1px solid #ffffff;
  border-radius: 3px;

  background-color: transparent;

  cursor: pointer;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  color: #e5e5e5;
}

.footer__btn:hover {
  background-color: #ffa800;
  color: black;
}

.footer__btn:active {
  background-color: #ffffff;
  color: black;
}

.footer__logoContainer {
  display: flex;
  gap: 50px;
}

.footer__panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__scrollToTopButton {
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  cursor: pointer;
  font-size: 36px;
  font-weight: 700;
  color: white;
}

.footer__logo:hover {
  color: #ffa800;
}

.footer__panel__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;

  color: #e5e5e5;
}
